@use '../base/root' as *;
@use '../base/tools' as *;






.t-DN {
    display: none;
}

.t-DB {
    display: block;
}

.t-DF {
    display: flex;
}

@each $code, $size in $grid-breakpoints {
    @if $code != xs {
        @include mq($code) {
            .t-DN\@#{$code} {
                display: none;
            }

            .t-DB\@#{$code} {
                display: block;
            }

            .t-DF\@#{$code} {
                display: flex;
            }
        }
    }
}
