@use '../../base/tools' as*;






.c-TOC {
    --o-Box__bgc: rgba(var(--color-cyprus), 0.04);
    --o-Box__it: 20px;
    --o-Box__ib: 20px;
    --o-Box__il: 20px;
    --o-Box__ir: 20px;
    width: 100%;

    @include mq(md) {
        --o-Box__it: 25px;
        --o-Box__ib: 25px;
        --o-Box__il: 25px;
        --o-Box__ir: 25px;
    }
}



.c-TOC-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}



.c-TOC-list {}

.c-TOC-list.c-TOC-list {
    margin-top: 15px;
}

.c-TOC-list.c-TOC-list:first-child {
    margin-top: 0;
}


.c-TOC ul,
.c-TOC ol {
    flex: 1 1 100%;
    font-size: 15px;
    line-height: 1.5;
    list-style: none;
    margin-top: 0;
}


.c-TOC a {
    color: rgb(var(--color-accent));
    font-size: 14px;
    font-weight: 700;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
