@use '../../base/tools' as *;






.c-Header {
    --c-Header__h: 60px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: var(--c-Header__h);

    @include mq(md) {
        --c-Header__h: 75px;
    }

    @include mq(xl) {
        --c-Header__h: 90px;
    }
}
