@use '../../base/tools' as*;






.o-Band {
    --o-Band__it: var(--indent-md);
    --o-Band-block__it: var(--indent-sm);
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    position: relative;
}

.o-Band--it\:0,
.o-Band:first-child {
    margin-top: 0;
}

.o-Band,
.o-Band.o-Band--it {
    margin-top: var(--o-Band__it);
}

.o-Band--it\:sm {
    --o-Band__it: var(--indent-sm)
}
.o-Band--it\:lg {
    --o-Band__it: var(--indent-lg)
}

.o-Band--it\:xl {
    --o-Band__it: var(--indent-xl)
}



.o-Band-row {
    flex-grow: 1;
}



.o-Band-block {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    margin-top: var(--o-Band-block__it);
}

.o-Band-block:first-child {
    margin-top: 0;
}



.o-Band-title {
    font-size: 27px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 35px;

    &:first-child {
        margin-top: 0;
    }

    @include mq(md) {
        font-size: 32px;
    }

    @include mq(lg) {
        font-size: 38px;
    }
}



.o-Band-text {
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    }
}
