@use 'sass:map';
@use '../../base/root' as *;
@use '../../base/tools' as *;






.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;

    @each $code, $size in $grid-breakpoints {
        @if $size > 0 {
            @include mq($size) {
                & {
                    max-width: map.get($grid-max-widths, $code);
                }
            }
        }
    }
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;
}



.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gap) * -1);
    margin-top: calc(var(--gap) * -1);

    > * {
        box-sizing: border-box;
        flex-shrink: 0;
        max-width: 100%;
        padding-left: var(--gap);
        padding-top: var(--gap);
        width: 100%;
    }
}



.col {
    flex: 1 0 0%;
    min-width: 0;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        flex: 0 0 auto;
        width: percentage($i / $grid-columns);
    }
}

.offset-auto {
    margin-left: auto;
}

@for $i from 0 through ($grid-columns - 1) {
    .offset-#{$i} {
        $number: $i / $grid-columns;
        margin-left: if($number == 0, 0, percentage($number));
    }
}

@each $code, $size in $grid-breakpoints {
    @if $size > 0 {
        @include mq($size) {
            .col\@#{$code} {
                flex: 1 0 0%;
                min-width: 0;
            }

            .col-auto\@#{$code} {
                flex: 0 0 auto;
                width: auto;
            }

            @for $i from 1 through $grid-columns {
                .col-#{$i}\@#{$code} {
                    flex: 0 0 auto;
                    width: percentage($i / $grid-columns);
                }
            }

            .offset-auto\@#{$code} {
                margin-left: auto;
            }

            @for $i from 0 through ($grid-columns - 1) {
                .offset-#{$i}\@#{$code} {
                    $number: $i / $grid-columns;
                    margin-left: if($number == 0, 0, percentage($number));
                }
            }
        }
    }
}
