@use '../../base/tools' as *;






.o-Bar::before {
    background-color: rgb(var(--color-accent));
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto 8px 0;
    width: 65px;
}
