@use '../../base/tools' as *;






.c-Footer {
    margin-bottom: 16px;
    margin-top: 32px;

    @include mq(lg) {
        margin-top: 56px;
    }

    @include mq(xxl) {
        margin-top: 74px;
    }
}
